<div class="container">
  <h1 id="register">Register</h1>
  <form>
    <input type="text"
           class="form-control"
           ng-model="username"
           placeholder="username"/>
    <input type="password"
           class="form-control"
           ng-model="password1"
           placeholder="password"/>
    <input type="password"
           class="form-control"
           ng-model="password2"
           placeholder="verify password"/>
    <a ng-click="model.register(username, password2)"
       type="button"
       class="btn btn-primary btn-block">
      Register
    </a>
    <a ng-click="model.toLogin()"
       type="button"
       class="btn btn-danger btn-block">
      Cancel
    </a>
  </form>
</div>