body {
  overflow-x: hidden;
  padding-bottom: 50px;
}

.navbar-brand {
  color: #757272;
  font-weight: bold;
}

.navbar-fixed-top {
  background-color: #efefef;
  border-bottom: solid 1px #dddddd;
}

.navbar-fixed-bottom {
  background-color: #f2f4f7;
  border-top: solid 1px #dddddd;
  margin-top: 30px;
}

.navbar-text {
  margin-right: 20px;
  margin-left: 20px;
}

.glyphicon {
  color: #313233;
  z-index: 2;
}

.glyphicon-user {
  color: #337ab7;
}

.row {
  margin-top: 70px;
  color: #337ab7;
  margin-bottom: 15px;
  border: none;
}

.list-group-item {
  border: none;
  margin-left: 17px;
}

a:hover {
  text-decoration: none;
}