<div class="container-fluid" ng-controller="AdopterController">
  <div id="border-left-right"></div>
  <div id="border-top-bottom"></div>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-text pull-right">
      <a ng-click="model.toLogout()">Logout</a>
    </div>
    <div class="navbar-text pull-right">
      <a ng-click="model.toSearch()">Search</a>
    </div>
  </div>
  <div class="row">
    <h1 class="register-login-heading">
      Adopter Profile
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <label for="adopterProfileName"
             class="register-login-fields">First Name</label>
      <input placeholder="First Name"
             ng-model="model.firstName"
             id="adopterProfileName"
             class="form-control register-login-fields"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <label for="adopterUsername"
             class="register-login-fields">Username</label>
      <input placeholder="Username"
             ng-model="model.username"
             id="adopterUsername"
             class="form-control register-login-fields"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="message in model.messageList">{{message}}</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="pet in model.petList">{{pet.name}}</li>
      </ul>
    </div>
  </div>
</div>