<div class="container-fluid" ng-controller="PetResultsController">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-text pull-right">
      <a ng-show="!model.isUserLoggedIn"
         ng-click="model.toLogin()">Login</a>
    </div>
    <div class="navbar-text pull-right">
      <a ng-show="!model.isUserLoggedIn"
         ng-click="model.toRegister()">Register</a>
    </div>
    <div class="navbar-text pull-right">
      <a ng-show="model.isUserLoggedIn"
         ng-click="model.toProfile()">Profile</a>
    </div>
    <div class="navbar-text pull-right">
      <a ng-show="model.isUserLoggedIn"
         ng-click="model.toSearch()">Logout</a>
    </div>
  </div>
  <h1 class="petResultsHeading">Results</h1>
  <div class="petResult" ng-repeat="pet in model.concisePetList">
    <h2 class="petResultsNames" ng-click=model.toPetDetails(pet["id"])>
      {{pet["name"]}}
    </h2>
    <img class="view overlay hm-stylish-light" ng-click=model.toPetDetails(pet["id"]) ng-src={{pet["photo"]}}/>
  </div>
</div>