<nav class="navbar navbar-fixed-top">
  <div class="navbar-text pull-left">
    <a href="#!/user/:uid/website">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <a class="navbar-brand"
     href="#!/user/:uid/website/:wid/page/:pid/widget">Pages</a>
  <div class="navbar-text pull-right">
    <a href="#!/user/:uid/website/:wid/page/new">
      <span class="glyphicon glyphicon-plus">
      </span>
    </a>
  </div>
</nav>
<div class="row container-fluid">
  <ul class="list-group">
    <li class="list-group-item">Blog Post
      <a href="#!/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">Blogs
      <a href="#!/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">Home
      <a href="#!/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">About
      <a href="#!/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item">Contact Us
      <a href="#!/user/:uid/website/:wid/page/:pid">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <a href="#!/user/:uid"
     class="navbar-text pull-right">
    <span class="glyphicon glyphicon-user"></span>
  </a>
</nav>
