<nav class="navbar navbar-fixed-top">
  <div class="navbar-text pull-left">
    <a ng-click="model.toPageList()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <a class="navbar-brand"
     href="#">Widgets</a>
  <div class="navbar-text pull-right">
    <a ng-click="model.toNewWidget()">
      <span class="glyphicon glyphicon-plus">
      </span>
    </a>
  </div>
</nav>
<div class="row container-fluid content">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="widget in model.widgets">
      <td>
        <div ng-switch="widget.widgetType">
          <div ng-switch-when="HEADING">
            <div ng-switch="widget.size">
              <div ng-switch-when="1">
                <h1>{{widget.text}}</h1>
              </div>
              <div ng-switch-when="2">
                <h2>{{widget.text}}</h2>
              </div>
              <div ng-switch-when="3">
                <h3>{{widget.text}}</h3>
              </div>
              <div ng-switch-when="4">
                <h4>{{widget.text}}</h4>
              </div>
              <div ng-switch-when="5">
                <h5>{{widget.text}}</h5>
              </div>
              <div ng-switch-when="6">
                <h6>{{widget.text}}</h6>
              </div>
            </div>
          </div>
          <div ng-switch-when="IMAGE">
            <div style="width: {{widget.width}}">
              <img ng-src={{widget.url}}>
            </div>
          </div>
          <div ng-switch-when="YOUTUBE">
            <iframe ng-src={{widget.url}}></iframe>
          </div>
          <div ng-switch-when="HTML">
            <p>{{widget.text}}</p>
          </div>
        </div>
      </td>
      <td>
        <a ng-click="model.toWidgetEdit(widget)">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
        <a ng-click="">
          <span class="glyphicon glyphicon-align-justify"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <a ng-click="model.toProfile()"
     class="navbar-text pull-right">
    <span class="glyphicon glyphicon-user"></span>
  </a>
  <a href="#" class="navbar-text pull-left">
    <span class="glyphicon glyphicon-play pull-left"></span>
  </a>
  <a href="#" class="navbar-text pull-left">
    <span class="glyphicon glyphicon-eye-open pull-left"></span>
  </a>
</nav>