<!--<div ng-switch={{widget.widgetType}}>-->
  <!--<div ng-switch-when="HEADING">-->
    <!--&lt;!&ndash;<div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>&ndash;&gt;-->
    <!--{{model.toWidgetHeader()}}-->
  <!--</div>-->
  <!--<div ng-switch-when="IMAGE">-->
    <!--<div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>-->
  <!--</div>-->
  <!--<div ng-switch-when="YOUTUBE">-->
    <!--<div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>-->
  <!--</div>-->
<!--</div>-->
