<nav class="navbar navbar-fixed-top">
  <div class="navbar-text pull-left">
    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <a class="navbar-brand"
     href="#">Widget Edit</a>
  <div class="navbar-text pull-right">
    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>
<div class="container">
  <form>Name
    <input type="text"
           class="form-control"
           placeholder="name"/>Text
    <input type="email"
           class="form-control"
           placeholder="text"/>URL
    <input type="url"
           class="form-control"
           placeholder="url"/>Width
    <input type="number"
           class="form-control"
           placeholder="0"/>Upload
    <input type="file"
           class="form-control"/>
    <button type="button"
            class="btn btn-primary btn-block">Upload Image
    </button>
    <a href=#!/user/:uid/website/:wid/page/:pid/widget
       type="button"
       class="btn btn-danger btn-block">Delete
    </a>
  </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <a href="#"
     class="navbar-text pull-right">
    <span class="glyphicon glyphicon-user"></span>
  </a>
</nav>