<nav class="navbar navbar-fixed-top">
  <div class="navbar-text pull-left">
    <a ng-click="model.toWidgetList()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <a class="navbar-brand"
     href="#">Widgets</a>
  <div class="navbar-text pull-right">
    <a ng-click="model.toWidgetList()">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>
<div class="container">
  <form>
    Name
    <input type="text"
           class="form-control"
           ng-model="model.widget.name"
           placeholder="name"/>
    Text
    <input type="text"
           class="form-control"
           ng-model="model.widget.text"
    placeholder="text"/>
    URL
    <input type="url"
           class="form-control"
           ng-model="model.widget.url"
    placeholder="url"/>
    Width
    <input type="text"
           class="form-control"
           ng-model="model.widget.width"
    placeholder="0"/>
    <a ng-click="model.toWidgetList()"
       type="button"
       class="btn btn-danger btn-block">
      Delete
    </a>
  </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <a href="#"
     class="navbar-text pull-right">
    <span class="glyphicon glyphicon-user"></span>
  </a>
</nav>