<div class="container">
  <h1>Login</h1>
  <form action="login.view.client.html">
    <input type="text"
           class="form-control"
           placeholder="username"/>
    <input type="password"
           class="form-control"
           placeholder="password"/>
    <a href=#!/user/:uid
       type="button"
       class="btn btn-primary btn-block">
       Login
    </a>
    <a href=register.view.client.html
            type="button"
            class="btn btn-success btn-block"
            href="#!/register">
      Register
    </a>
  </form>
</div>