<div class="container">
  <h1>Register</h1>
  <form action="register.view.client.html">
    <input type="text"
           class="form-control"
           placeholder="username"/>
    <input type="password"
           class="form-control"
           placeholder="password"/>
    <input type="password"
           class="form-control"
           placeholder="verify password"/>
    <a href=#!/user/:uid
       type="button"
       class="btn btn-primary btn-block">
      Register
    </a>
    <a href=#!/login
        type="button"
       class="btn btn-danger btn-block">
      Cancel
    </a>
  </form>
</div>