<nav class="navbar navbar-fixed-top">
  <div class="navbar-text pull-left">
    <a ng-click="model.toProfile()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <a class="navbar-brand">Websites</a>
  <div class="navbar-text pull-right">
    <a ng-click="model.toNewWebsite()">
      <span class="glyphicon glyphicon-plus">
      </span>
    </a>
  </div>
</nav>
<div class="row container-fluid">
  <ul class="list-group">
      <li class="list-group-item"
          ng-repeat="website in model.websites">
        <a ng-click="model.toPageList(website._id)">
          {{website.name}}
        </a>
        <a ng-click="model.toEditWebsite(website._id)">
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <a ng-click="model.toProfile()"
     class="navbar-text pull-right">
    <span class="glyphicon glyphicon-user"></span>
  </a>
</nav>