<nav class="navbar navbar-fixed-top">
  <div class="navbar-text pull-left">
    <a href="#!/user/:uid/website/:wid/page/:pid/widget">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <a class="navbar-brand"
     href="#">Choose Widget</a>

</nav>
<div class="row container-fluid">
  <ul class="list-group">
    <a href=#!/user/:uid/website/:wid/page/:pid/widget/heading>
      <li class="list-group-item">Header
      </li>
    </a>
    <a href=#>
    <li class="list-group-item">Label
    </li>
    </a>
      <a href=#>
    <li class="list-group-item">HTML
    </li>
      </a>
    <a href=#>
    <li class="list-group-item">Text Input
    </li>
    </a>
    <a href=#>
    <li class="list-group-item">Link
    </li>
    </a>
    <a href=#>
    <li class="list-group-item">Button
    </li>
    </a>
    <a href=#!/user/:uid/website/:wid/page/:pid/widget/image>
    <li class="list-group-item">Image
    </li>
    </a>
    <a href=#!/user/:uid/website/:wid/page/:pid/widget/youtube>
    <li class="list-group-item">YouTube
    </li>
    </a>
    <a href=#>
    <li class="list-group-item">Data Table
    </li>
    </a>
    <a href=#>
    <li class="list-group-item">Repeater
    </li>
    </a>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <a href="#"
     class="navbar-text pull-right">
    <span class="glyphicon glyphicon-user"></span>
  </a>
</nav>