body {
  overflow: hidden;
  padding-bottom: 50px;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #337ab7;
  border: none;
}

.navbar-text {
  margin-right: 20px;
  margin-left: 20px;
}

.glyphicon {
  color: white;
}

.glyphicon-cog {
  margin-right: 5px;
  color: #337ab7;
}

.hidden-xs {
  border-right: 1px solid #337ab7;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.row {
  margin-top: 60px;
  color: #337ab7;
  margin-bottom: 15px;
  border: none;
}

.list-group-item {
  border: none;
  margin-left: 17px;
}

.new-pg-text {
  color: black;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 15px;
}

.form-control {
  margin-top: 3px;
  margin-bottom: 15px;
  font-weight: normal;
  color: black;
}
