<nav class="navbar navbar-fixed-top">
  <div class="navbar-text pull-left">
    <a ng-click="model.toWebsiteList()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </div>
  <a class="navbar-brand">Pages</a>
  <div class="navbar-text pull-right">
    <a ng-click="model.toNewPage()">
      <span class="glyphicon glyphicon-plus">
      </span>
    </a>
  </div>
</nav>
<div class="row container-fluid">
  <ul class="list-group">
    <li class="list-group-item"
        ng-repeat="page in model.pages"
        ng-click="model.toWidgetList(page._id)">{{page.name}}
      <a ng-click="model.toEditPage(page._id)">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <a ng-click="model.toProfile()"
     class="navbar-text pull-right">
    <span class="glyphicon glyphicon-user"></span>
  </a>
</nav>
