body {
  overflow-x: hidden;
  padding-bottom: 50px;
}

.form-control {
  margin-top: 3px;
  margin-bottom: 15px;
  font-weight: normal;
  color: black;
}

.container {
  margin-top: 70px;
  font-weight: bold;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #337ab7;
  border: none;
}

.glyphicon {
  color: white;
}

.navbar-text {
  margin-right: 20px;
}
